/*google font poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');


html,
body {
      position: relative;
      height: 100%;
}

body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
}

.main {
    height: 100vh;
    width:100%;
}

img {
    width: 100%;
}

.swiper {
      width: 100%;
      height: 100%;
      background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 60px 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
}

.swiper-wrapper .swiper-slide .artwork-data img {
    width: 60px;
    
}

.swiper-wrapper .swiper-slide .artwork-data {
        font-family: 'Noto Serif TC';
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        font-style: oblique;
        text-align: center;
        color: #FFFFFF;
        /* letter-spacing: 1px; */
}

/* .swiper-wrapper .swiper-slide .artwork {
    position: absolute;
    left: 50%;
    top: 50%;
} */

.swiper-wrapper .swiper-slide .artwork-data h2 {
    font-weight: 900;
}

.swiper-wrapper .swiper-slide .artwork-data .txt {
        font-style: italic;
        font-weight: 200;
}

.swiper-wrapper .swiper-slide .artwork-data p {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 110%;
    /* identical to box height, or 21px */
        
    text-align: center;
    
    color: #FFFFFF;
}

.swiper-slide .subtitle {
      font-size: 21px;
}

.swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
}

.banner {
    position: absolute;
    width: 259.87px;
    height: 97.07px;
    left: 50%;
    top: 60px;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 400px) {
    .swiper-wrapper .swiper-slide .artwork-data h2 {
        font-weight: 700;
        font-size: 14px;
    }
}

/*swiper button css*/

.nav-btn {
    color: #ffffffb8;
}

.nav-btn:hover {
    color: #fff;
}